<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>俄罗斯方块</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div style="float: left;">
		<div id="waiting">
			<div><span class="dic i_sp"></span>下坠&nbsp;&nbsp;&nbsp;
				<span class="dic i_t"></span>旋转&nbsp;&nbsp;&nbsp;
				<span class="dic i_lr"></span>控制左右方向&nbsp;&nbsp;&nbsp;
				<span class="dic i_b"></span>下落
			</div>
			<div><b>Tips：</b>消一行10分，二行30分,三行60分，四行100分</div>
			<br/>
		</div>	
		<input type="text" name="" id="sendTxt" />
		<button id="sendBtn">发送</button>
	</div>
    <div class="wrapper">
		<div class="float">
	        <h3>我的游戏区域</h3>
	        <div class="game" id="game"></div>
	        <div class="others">
	            <div class="next" id="next"></div>
	            <div class="info">
	                <div>已得分：<span id="score">0</span> 分</div>
	                <div id="gameOver"></div>
	            </div>
	        </div>
		</div>
		<div class="float scale">
	        <h3>对方游戏区域</h3>
	        <div class="game" id="remote_game"></div>
	        <div class="others">
	            <div class="next" id="remote_next"></div>
	            <div class="info">
	                <div>已得分：<span id="remote_score">0</span> 分</div>
	                <div id="remote_gameOver"></div>
	            </div>
	        </div>
		</div>
    </div>
    
    <script type="text/javascript" src="js/socket-io.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    
</body>

</html>