<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>俄罗斯方块</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
		<div class="float">
	        <h3>我的游戏区域</h3>
	        <div class="game" id="game"></div>
	        <div class="others">
	            <div class="next" id="next"></div>
	            <div class="info">
	                <div>已用时：<span id="time">0</span> 秒</div>
	                <div>已得分：<span id="score">0</span> 分</div>
	                <div id="gameOver"></div>
	            </div>
	        </div>
		</div>
		<div class="float scale">
	        <h3>对方游戏区域</h3>
	        <div class="game" id="remote_game"></div>
	        <div class="others">
	            <div class="next" id="remote_next"></div>
	            <div class="info">
	                <div>已得分：<span id="remote_score">0</span> 分</div>
	                <div id="gameOver"></div>
	                <button id="remote_initGameData">remote_initGameData</button>
	                <button id="remote_initDiv">remote_initDiv</button>
	                <button id="remote_refreshDiv">remote_refreshDiv</button>
	                <button id="remote_produceNext">remote_produceNext</button>
	                <button id="remote_rotate">remote_rotate</button>
	                <button id="remote_down">remote_down</button>
	                <button id="remote_right">remote_right</button>
	                <button id="remote_left">remote_left</button>
	                <button id="remote_fixed">remote_fixed</button>
	            </div>
	        </div>
		</div>
    </div>
    
    <script src="js/index.js"></script>
</body>

</html>